
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --black: #0D0D0D;
    --white: #F2F2F2;
    --gray: #212121;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
    /* Reset */
}

html, body{
    scroll-behavior: smooth;
    /* Rolagem suave */
    color: var(--black);
    background-color: var(--gray);
    /* Cores */
    width: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    /* Posicionamento */
    backdrop-filter: blur(1.5px);
    /* Filtro de desfoque */
    top: 0;
    left: 0;
    position: sticky;
    z-index: 999;
    /* Posição */
    box-shadow: 0 0 15px #00000007;
    /* Sombra */
    color: var(--gray);
    /* Cores */
}

.text-header p {
    font-size: 30px;
    font-weight: 600;
}

.text-header p::first-letter {
    font-size: 40px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Posicionamento */
    margin-right: 20px;
}

.nav a {
    color: var(--white);
    /* Cores */
    font-size: 2rem;
    /* Fonte */
}

.section01 {
    background-image: url(images/background-final.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 35px;
    /* Posição da imagem do fundo */
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-s1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.image-s1 img{
    width: 700px;
    /* Tamanho */
    transition: 2s ease;
    /* Transição */
}

.image-s1 img:hover {
    transform: scale(1.1);
}

.box-text {
    width: 580px;
    /* Tamanho */
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;
    flex-direction: column;
    /* Posicionamento */
    font-size: 18px;
    /* Fonte */
}

.button-s1 button {
    margin-top: 15px;
    /* Margem */
    width: 200px;
    height: 70px;
    /* Tamanho */
    background-color: var(--gray);
    color: var(--white);
    /* Cores */
    border-radius: 40px;
    /* Bordas */
    font-size: 18px;
    /* Fonte */
    cursor: pointer;
    /* Cursor */
    transition: 00.60s ease;
    /* Transição */
}

.button-s1 button:hover {
    background-color: var(--black);
    color: var(--white);
    /* Cores da transição */
}

/* Seção 2 */

.section02 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Posicionamento */
    background-color: var(--white);
    /* Cores */
    padding: 100px;
    /* Espaçamento */
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    /* Posicionamento */
}

.texts-logos {

}

.image-logos {
    background-color: var(--gray);
    color: var(--white);
    /* Cores */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    /* Posicionamento */
    border-radius: 15px;
    /* Bordas */
    box-shadow: 0 0 15px #0000006b;
}

.image-logos img {
    width: 200px;
    /* Tamanho */
}

.image-text-logos {
    text-align: center;
}

.image-text-logos p {
    font-weight: 300;
}

span {
    font-size: 17px;
    font-weight: 600;
}

.stars i {
    font-size: 12px;
    /* Fonte */
}

.carrosel {
    width: 750px;
    margin: 0 auto;
}

.section03 {
    background-color: var(--white);
    /* Cores */
    padding: 150px;
    /* Espaçamento */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Posicionamento */
}

.flex-s3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.text-s3 {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 15px;
}

.text-s3 h2 {
    font-size: 25px;
}

.text-s3 a {
    color: var(--black);
}


.text-s3 p {
    font-size: 16.5px;
}

.image-s3 img {
    width: 650px;
}

.section04 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Posicionamento */
    padding: 50px;
    /* Espaçamento */
    background-color: var(--white);
}

.flex-s4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.image-s4 img {
    width: 750px;
}

.text-s4 h2 {
    font-size: 45px;
}

.section05 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Posicionamento */
    background-color: var(--white);
    /* Cores */
}

.flex-s5 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    /* Posicionamento */
}

.text-s5 {
    width: 600px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

input {
    padding: 15px 10px;
}

.button-send button {
    width: 100px;
    height: 50px;
    border-radius: 15px;
    background-color: var(--black);
    color: white;
    font-size: 18px;
}

footer {
    background-color: var(--white);
    padding: 35px;
}

.nav-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.nav-footer a {
    color: var(--gray);
    text-decoration: none;
}